@media only screen and (min-width: 60rem) {
    nav ul{
        display: flex;
        text-align: right;
        justify-content: right;
    }

    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }


    .caseStudy {
        flex-basis: 33%;
        padding-right: 2%;
    }

    
    main, nav,footer {
        max-width: 60rem;
        margin: auto;
    }

    
} /* end media query*/