* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Roboto', sans-serif;
}

#navWrapper {
    background-color: rgba(241, 216, 186, 0.836);
    position: sticky;
    top: 0px;
    z-index: 1;
}


nav ul{
    margin: 0;
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav ul li { 
    margin-right: 5px;
}


nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: 100%;
    padding: 10px 10px;
    transition: color 0.5s, background-color 0.5s;
}


nav ul li a:hover {
    color: white;
    background-color: black;
}

#heroImage {
    width: 100%;
}

#heroImage img {
    width: 100%;
    height: auto;
}

#heroImage h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 30px;
}


#aboutMe {
    margin: 0 auto;
    width: 90%;
    background-color: rgb(243, 243, 243);
    margin-top: 1rem;
    padding: 3%;
    border-radius: 10px;
    padding: 40px;
    position: relative;
}

#aboutMe div {
    padding: .5rem 0;
}


#caseStudies {
    position: relative;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(243, 243, 243);
    margin-top: 1rem;
    padding: 3%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
}

#grid {
    display: grid;
    grid-template-columns: 1fr;
}

.caseStudy a {
    text-decoration: none;
}

.caseStudy figure {
    width: 100%;
    border: 3px solid rgba(241, 216, 186, 0.836);
    border-radius: 5%;
    margin: 0 auto;
    margin-bottom: 30px;
    overflow: hidden;
    background-color: rgb(56, 56, 56);
}

.caseStudy figure p {
    color: white;
    padding: .5rem;
    text-align: center;
}

.caseStudy figure img {
    width: 100%;
    display: block;
}


.caseStudy figure figcaption {
    text-align: center;
    color: white;
    transition: .3s ease;
    text-decoration: none;
    padding: .5rem 0;
}

.caseStudy figure:hover {
    transition: .3s ease;
    transform: translateY(10px);
}

#contactMe {
    margin: 0 auto;
    width: 90%;
    background-color: rgb(243, 243, 243);
    margin-top: 1rem;
    padding: 3% 3% 6% 3%;
    border-radius: 10px;
    padding: 40px;
}

.sectionChange {
    padding-bottom: 10px;
}

#contactMe h3 {
    padding-bottom: 16px;
}


#contactMe ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#contactMe ul li {
    list-style-type: none;
}

#contactMe ul img {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 40px;
}

#contactMe ul li a {
    display: block;
    color: black;
    transition: .3s ease;
    font-size: 10px;
    text-align: center;
}

#contactMe a:hover {
    text-decoration: underline;
    transform: translateY(10px);
}

footer {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(56, 56, 56);
    color: white;
}